In [ ]:
###############################################
# Author: Pedro Igor Salvador Alves
# Topic: Feature Selection
# Start Date: 31/12/2021
# Type: Data Science - Machine Learning 
###############################################

In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv("data/Students2.csv")

In [4]:
dataset

    Hours  sHours  hoursplayed  income  distance  calories  Marks
0       0       6            6     146         9      2491     34
1       1       7            2     112         5      2303     36
2       1       6            1      84         7      2475     33
3       1       8            5     134         0      2282     39
4       1       8            5     104         8      2359     42
5       2       8            4      80         1      2354     45
6       2       6            3      93         0      2943     38
7       3       6            3      83         7      2119     45
8       3       7            6     139         1      2511     53
9       3       7            5     138        10      2666     46
10      3       8            5      98         2      2934     56
11      4       8            1      90         0      2838     59
12      4       7            3     140         7      2102     55
13      4       7            6     144         3      2560     56
14      5       8            2     144         5      2068     72
15      5       6            2     119         6      2541     59
16      6       6            1     140         6      2690     62
17      6       7            1      85         3      2956     71
18      7       8            2     140         8      2239     78
19      7       8            6     107         0      2703     88
20      7       6            5      85         7      2603     61
21      7       6            3     109         0      2031     74
22      8       7            5     108         0      2885     71
23      8       8            1     150         8      2153     89
24      9       8            4     150         9      2384     82
25      9       5            5      84        10      2882     67
26      9       8            5     127         5      2271     89
27     10       8            6      95         6      2264     81
28     10       8            5      72         5      2522     82
29     11       7            3      89         3      2279     79

In [6]:
X = dataset.iloc[:, :-1]
Y = dataset.iloc[:, -1]

In [7]:
#linear regression
from sklearn.linear_model import LinearRegression

lireg = LinearRegression()

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.4, random_state = 157, )

In [9]:
lireg.fit(X_train, Y_train)

Y_predict = lireg.predict(X_test)

In [16]:
#import f regression (numerical)
from sklearn.feature_selection import f_regression as fr

result = fr(X, Y)

In [17]:
f_score = result[0]
p_value = result[1]
columns = list(X.columns)

In [20]:
print("    Feature    ", "F-Score    ", "P-Value")
print("    --------    ---------    --------")

for i in range(len(columns)):
    f = "%4.2f"%f_score[i]
    p = "%2.6f"%p_value[i]
    print("   ", columns[i].ljust(12), f.rjust(8), "    ", p.rjust(8))

    Feature     F-Score     P-Value
    --------    ---------    --------
    Hours          141.91      0.000000
    sHours           4.57      0.041403
    hoursplayed      0.00      0.969907
    income           0.16      0.692200
    distance         0.00      0.955528
    calories         0.40      0.530086

In [22]:
new_X_train = X_train[['Hours', 'sHours']]
new_X_test = X_test[['Hours', 'sHours']]

new_lireg = LinearRegression()

new_lireg.fit(new_X_train, Y_train)

new_Y_predict = new_lireg.predict(new_X_test)

In [24]:
new_lireg.score(new_X_test, Y_test)

0.8898039960305234

In [25]:
lireg.score(X_test, Y_test)

0.8472443612007267

# Starting Again

In [26]:
import pandas as pd

dataset = pd.read_csv("data/Students2.csv")

X = dataset.iloc[:, :-1]
Y = dataset.iloc[:, -1]

In [27]:
from sklearn.feature_selection import SelectKBest, SelectPercentile, GenericUnivariateSelect, f_regression

In [28]:
#select k best
selectK = SelectKBest(score_func=f_regression, k=3)

In [29]:
X_k = selectK.fit_transform(X, Y)

In [30]:
X_k

array([[   0,    6, 2491],
       [   1,    7, 2303],
       [   1,    6, 2475],
       [   1,    8, 2282],
       [   1,    8, 2359],
       [   2,    8, 2354],
       [   2,    6, 2943],
       [   3,    6, 2119],
       [   3,    7, 2511],
       [   3,    7, 2666],
       [   3,    8, 2934],
       [   4,    8, 2838],
       [   4,    7, 2102],
       [   4,    7, 2560],
       [   5,    8, 2068],
       [   5,    6, 2541],
       [   6,    6, 2690],
       [   6,    7, 2956],
       [   7,    8, 2239],
       [   7,    8, 2703],
       [   7,    6, 2603],
       [   7,    6, 2031],
       [   8,    7, 2885],
       [   8,    8, 2153],
       [   9,    8, 2384],
       [   9,    5, 2882],
       [   9,    8, 2271],
       [  10,    8, 2264],
       [  10,    8, 2522],
       [  11,    7, 2279]], dtype=int64)

In [33]:
f = selectK.scores_
p = selectK.pvalues_
columns = list(X.columns)

In [34]:
print("    Feature    ", "F-Score    ", "P-Value")
print("    --------    ---------    --------")

for i in range(len(columns)):
    f = "%4.2f"%f_score[i]
    p = "%2.6f"%p_value[i]
    print("   ", columns[i].ljust(12), f.rjust(8), "    ", p.rjust(8))

    Feature     F-Score     P-Value
    --------    ---------    --------
    Hours          141.91      0.000000
    sHours           4.57      0.041403
    hoursplayed      0.00      0.969907
    income           0.16      0.692200
    distance         0.00      0.955528
    calories         0.40      0.530086

In [36]:
cols = selectK.get_support(indices=True)
X.columns[cols].tolist()

['Hours', 'sHours', 'calories']

In [38]:
#select percentile
selectP = SelectPercentile(score_func=f_regression, percentile=50)
X_p = selectP.fit_transform(X, Y)

In [39]:
f = selectP.scores_
p = selectP.pvalues_
columns = list(X.columns)

In [40]:
print("    Feature    ", "F-Score    ", "P-Value")
print("    --------    ---------    --------")

for i in range(len(columns)):
    f = "%4.2f"%f_score[i]
    p = "%2.6f"%p_value[i]
    print("   ", columns[i].ljust(12), f.rjust(8), "    ", p.rjust(8))

    Feature     F-Score     P-Value
    --------    ---------    --------
    Hours          141.91      0.000000
    sHours           4.57      0.041403
    hoursplayed      0.00      0.969907
    income           0.16      0.692200
    distance         0.00      0.955528
    calories         0.40      0.530086

In [41]:
#generic univariate transform
selectG1 = GenericUnivariateSelect(score_func=f_regression, mode='k_best', param=3)
X_g1 = selectG1.fit_transform(X, Y)

selectG2 = GenericUnivariateSelect(score_func=f_regression, mode='percentile', param=50)
X_g2 = selectG2.fit_transform(X, Y)